.widget-container {
    background: #fff;
    border: 2px solid green;
    padding: 15px;
}

.quiz-widget__holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-widget__question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}