@import url('https://fonts.cdnfonts.com/css/calibre');

$colorBlue1: #E4E9EB;
$colorBlue2: #2E1A47;
$colorBlue3: #9EAEC4;
$colorBlue4: #C8D3DF;
$colorBlue5: #DADEE0;
$colorPopupOverlay: rgb(136, 140, 154, 60%);
$colorGray1: #777777;
$colorGray2: #9B94AD;
$colorGray3: #D9D9D9;
$colorWhite: #fff;

$iconClock: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5003 18.8327C15.1027 18.8327 18.8337 15.1017 18.8337 10.4993C18.8337 5.89698 15.1027 2.16602 10.5003 2.16602C5.89795 2.16602 2.16699 5.89698 2.16699 10.4993C2.16699 15.1017 5.89795 18.8327 10.5003 18.8327Z' stroke='%232E1A47' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 5.5V10.5L13.8333 12.1667' stroke='%232E1A47' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
$iconArrowRight: url("data:image/svg+xml,%3Csvg width='25' height='19' viewBox='0 0 25 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6313 1.16814C15.38 1.21477 15.1809 1.40678 15.1102 1.65912C15.0395 1.91696 15.1128 2.18851 15.2962 2.36954L21.4186 8.78247L1.742 8.78247C1.72105 8.78247 1.7001 8.78247 1.67915 8.78247C1.31254 8.79893 1.02449 9.12808 1.04282 9.51209C1.06115 9.8961 1.37277 10.1951 1.742 10.1759L21.4186 10.1759L15.2962 16.5888C15.0998 16.7589 15.0081 17.0277 15.0657 17.291C15.1233 17.5488 15.3171 17.7545 15.5659 17.8149C15.8146 17.8752 16.0739 17.7792 16.2336 17.5708L23.5004 9.98112L23.9587 9.47917L23.5004 8.97722L16.2336 1.38758C16.0948 1.23123 15.8958 1.15169 15.6916 1.16814C15.6706 1.16814 15.6523 1.16814 15.6313 1.16814Z' fill='%239EAEC4' stroke='%239EAEC4' stroke-width='0.5'/%3E%3C/svg%3E");
$iconInfo: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4999 2.41992C16.2385 2.41992 20.0799 6.26132 20.0799 10.9999C20.0799 15.7385 16.2385 19.5799 11.4999 19.5799C6.76132 19.5799 2.91992 15.7385 2.91992 10.9999C2.91992 6.26132 6.76132 2.41992 11.4999 2.41992ZM11.4999 3.44659C7.32833 3.44659 3.94659 6.82833 3.94659 10.9999C3.94659 15.1715 7.32833 18.5533 11.4999 18.5533C15.6715 18.5533 19.0533 15.1715 19.0533 10.9999C19.0533 6.82833 15.6715 3.44659 11.4999 3.44659ZM12.4777 8.92214V13.811H13.6999V15.0333H10.0333V13.811H11.2555L11.255 10.1439L10.0333 10.1444V8.92214H12.4777ZM11.561 5.86659C12.0673 5.86659 12.4777 6.27699 12.4777 6.78326C12.4777 7.28952 12.0673 7.69992 11.561 7.69992C11.0548 7.69992 10.6444 7.28952 10.6444 6.78326C10.6444 6.27699 11.0548 5.86659 11.561 5.86659Z' fill='%232E1A47'/%3E%3C/svg%3E");
$iconClose: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0745 11.0014L5.4748 6.29012C5.25659 6.06662 5.25643 5.7041 5.47442 5.48039C5.69242 5.25669 6.04603 5.25651 6.26423 5.48001L10.9619 10.2916C10.9872 10.2898 11.0126 10.2898 11.038 10.2916L15.7356 5.48001C15.9538 5.25651 16.3074 5.25669 16.5254 5.48039C16.7434 5.7041 16.7433 6.06662 16.5251 6.29012L11.9254 11.0014L16.5251 15.7127C16.7433 15.9362 16.7434 16.2987 16.5254 16.5224C16.3074 16.7461 15.9538 16.7463 15.7356 16.5228L11.038 11.7112C11.0126 11.7129 10.9872 11.7129 10.9619 11.7112L6.26423 16.5228C6.04603 16.7463 5.69242 16.7461 5.47442 16.5224C5.25643 16.2987 5.25659 15.9362 5.4748 15.7127L10.0745 11.0014Z' fill='%232E1A47'/%3E%3C/svg%3E");
$iconTick: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 3L5 8.5L2.5 6' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
$iconArrowNext: url("data:image/svg+xml,%3Csvg width='6' height='13' viewBox='0 0 6 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.136871 11.746C-0.0501733 11.9616 -0.0448456 12.3053 0.148771 12.5136C0.342387 12.7219 0.650974 12.716 0.838018 12.5003L5.86313 6.70734C6.04568 6.49689 6.04562 6.16318 5.86298 5.95282L0.837871 0.164862C0.650742 -0.0506744 0.342153 -0.0564575 0.148618 0.151944C-0.0449166 0.360346 -0.0501099 0.704015 0.137019 0.919551L4.83466 6.33033L0.136871 11.746Z' fill='white'/%3E%3C/svg%3E");
$iconArrowPrev: url("data:image/svg+xml,%3Csvg width='6' height='13' viewBox='0 0 6 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.86313 11.746C6.05017 11.9616 6.04485 12.3053 5.85123 12.5136C5.65761 12.7219 5.34903 12.716 5.16198 12.5003L0.136871 6.70734C-0.0456807 6.49689 -0.0456155 6.16318 0.137018 5.95282L5.16213 0.164862C5.34926 -0.0506744 5.65785 -0.0564575 5.85138 0.151944C6.04492 0.360346 6.05011 0.704015 5.86298 0.919551L1.16534 6.33033L5.86313 11.746Z' fill='white'/%3E%3C/svg%3E");
$iconEmail: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5058 7.42318L11.0002 11.5969L5.49455 7.42318H16.5058ZM18.026 6.39652H3.97436C3.97017 6.39647 3.96597 6.39647 3.96177 6.39652H3.94888C3.66537 6.39652 3.43555 6.62635 3.43555 6.90986V16.2175C3.43555 16.5011 3.66537 16.7309 3.94888 16.7309H18.0514C18.3349 16.7309 18.5648 16.5011 18.5648 16.2175V6.90986C18.5648 6.62635 18.3349 6.39652 18.0514 6.39652H18.0386C18.0344 6.39647 18.0302 6.39647 18.026 6.39652ZM17.5381 7.92891L11.3103 12.6502C11.1269 12.7892 10.8734 12.7892 10.69 12.6502L4.46221 7.92891V15.7042H17.5381V7.92891Z' fill='%232E1A47'/%3E%3C/svg%3E");

$fontFamilyPrimary: 'Calibre';
$fontFamilySecondary: 'Times New R';
$fontWeightBold: 600;
$fontWeightSemiBold: 500;

$sleepProfileItemsCount: '7';

$screenM: 768px;

.quiz-body-overflowed {
    overflow: hidden;
}

.qp-win {
    display: none;

    &[show="1"] {
        display: flex;
        position: fixed;
        z-index: 9999;
        align-items: center;
        justify-content: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $colorPopupOverlay;
        font-family: $fontFamilyPrimary;

        input {
            font-family: $fontFamilyPrimary;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 10px 10px;
            background: $colorBlue2;
            border-radius: 4px;
            text-transform: uppercase;
            color: $colorWhite;
            width: 100%;
            min-height: 50px;
            border: 0;
            font-weight: $fontWeightSemiBold;
            font-size: 15px;
            line-height: 18px;
            cursor: pointer;
        }

        .qp-win-y {
            text-decoration: none;
        }

        .qp-win-i {
            display: flex;
            justify-content: center;
            background: $colorWhite;
            text-align: center;
            width: 100%;
            max-width: 320px;
            padding: 25px;
            margin: 0 20px;
        }

        br:last-child {
            display: none;
        }

        .qp-win-body {
            color: $colorBlue2;
            margin-bottom: 25px;
            font-size: 20px;
            line-height: 15px;
        }
    }

}

#quiz {
    width: 100%;
    height: 100%;

    &-widget,
    .qp_quiz {
        width: 100%;
        height: 100%;
    }

    .phone-sel-d,
    & ~ .template {
        display: none;
    }

    .qp-container {
        width: 100%;
    }

    * {
        box-sizing: border-box;
    }

    .qp_imgi,
    .qp_imgres,
    .qp_title,
    .qp_sharedata {
        display: none;
    }

    .qp-subtab-c {
        & > div:not(.sel) {
            display: none;
        }
    }

    .quiz-container {
        width: 100%;
        background: none;
        overflow: visible;

        &:not(.results) {
            max-width: 995px;
            margin: 110px 0;

            @media screen and (max-width: $screenM) {
                margin: 40px 0 93px;
            }

            .qp_container {
                padding: 0 13.07%;

                @media screen and (max-width: $screenM) {
                    padding: 0;
                }
            }

            .qp_flex {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                column-gap: 25px;
                row-gap: 25px;

                @media screen and (max-width: $screenM) {
                    flex-direction: column;
                    column-gap: 0;
                    row-gap: 12px;
                    padding: 0 6.69%;
                }
            }
        }

        &.quiz-lc {
            margin: 124px 0;

            @media screen and (max-width: $screenM) {
                margin: 40px 0 102px;
                padding: 0 10px;
            }
        }
    }

    .qp_container {
        position: relative;
        background: none;
    }

    .qp_quiz {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-back,
    &-next {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid $colorBlue3;

        @media screen and (max-width: $screenM) {
            transform: none;
            top: calc(100% + 16px);
            width: 37px;
            height: 37px;
        }

        &:after {
            content: '';
            background-image: $iconArrowRight;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 17px;
            pointer-events: none;

            @media screen and (max-width: $screenM) {
                width: 16px;
                height: 12px;
            }
        }


        input {
            position: absolute;
            appearance: none;
            -webkit-appearance: none;
            font-size: 0;
            width: 100%;
            height: 100%;
            border: 0;
            cursor: pointer;
            background: none;
        }
    }

    &-back {
        left: 0;

        @media screen and (max-width: $screenM) {
            left: auto;
            right: calc(50% + 8px);
        }

        &:after {
            transform: rotate(180deg);
        }
    }

    &-next {
        right: 0;

        @media screen and (max-width: $screenM) {
            right: auto;
            left: calc(50% + 8px);
        }
    }

    .quiz-widget {
        &__wrapper {
            font-family: $fontFamilyPrimary;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            background: $colorBlue1;
            padding: 0 20px;

            button,
            input {
                font-family: $fontFamilyPrimary;
            }

            #quiz-tabs {
                h3,
                .qp_qi > div {
                    font-family: $fontFamilySecondary;
                    font-weight: $fontWeightBold;
                    font-size: 28px;
                    line-height: 30px;
                    color: $colorBlue2;
                    max-width: 350px;

                    @media screen and (max-width: $screenM) {
                        font-size: 21px;
                        line-height: 25px;
                    }
                }
            }
        }

        &__get-started-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 10px 10px;
            background: $colorBlue2;
            border-radius: 4px;
            text-transform: uppercase;
            color: $colorWhite;
            min-width: 222px;
            min-height: 50px;
            border: 0;
            font-weight: $fontWeightSemiBold;
            font-size: 15px;
            line-height: 18px;
            cursor: pointer;
        }

        &__get-started {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 735px;
            background: $colorWhite;
            min-height: 417px;
            text-align: center;
            margin: 150px 0;
            padding: 60px 44px;

            @media screen and (max-width: $screenM) {
                margin: 123px 0 129px;
                min-height: 334px;
            }

            & > * {
                max-width: 334px;
            }

            h3 {
                font-family: $fontFamilySecondary;
                font-weight: $fontWeightBold;
                font-size: 28px;
                line-height: 30px;
                color: $colorBlue2;
                max-width: 350px;
                margin: 0 0 12px;
            }
        }

        &__quiz-time {
            display: flex;
            align-items: center;
            column-gap: 6px;
            color: $colorBlue2;
            font-size: 14px;
            margin-bottom: 12px;

            &:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background-image: $iconClock;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin-bottom: 7px;
            }
        }

        &__get-started-text {
            font-size: 14px;
            line-height: 18px;
            color: $colorGray1;
            margin-bottom: 32px;
        }

        &__learn-more {
            display: flex;
            position: fixed;
            align-items: center;
            z-index: 9999;
            justify-content: center;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: $colorPopupOverlay;
            padding: 52px 30px;
        }

        &__learn-more-holder {
            display: flex;
            position: relative;
            background: $colorWhite;
            width: 100%;
            max-width: 800px;
            max-height: 511px;
            height: 100%;

            @media screen and (max-width: $screenM) {
                flex-direction: column;
                max-height: 100%;
            }
        }

        &__learn-more-column {
            width: 50%;

            @media screen and (max-width: $screenM) {
                width: 100%;
            }

            &--image {
                padding-left: 5%;
                min-height: 100%;

                @media screen and (max-width: $screenM) {
                    padding: 0;
                    order: -1;
                    min-height: 183px;
                }
            }

            &--info {
                text-align: left;
                padding: 60px 0 60px 44.5px;
                max-height: 100%;
                overflow-y: auto;

                @media screen and (max-width: $screenM) {
                    padding: 30px 20px;
                    height: 100%;
                }

                h3 {
                    margin: 0 0 12px;
                    color: $colorBlue2;

                    @media screen and (max-width: $screenM) {
                        font-size: 22px;
                        line-height: 26px;
                    }
                }
            }
        }

        &__learn-more-text {
            font-size: 16px;
            line-height: 20px;
            color: $colorGray1;

            p {
                margin: 0 0 11px;

                &:last-child {
                    margin: 0;
                }
            }
        }

        &__learn-more-image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__learn-more-open {
            padding: 0;
            background: none;
            border: 0;
            cursor: pointer;

            &:before {
                content: '';
                display: block;
                width: 22px;
                height: 21px;
                background-image: $iconInfo;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 12px;
                margin-bottom: -2px;

                @media screen and (max-width: $screenM) {
                    margin-left: 10px;
                    margin-bottom: -4px;
                }
            }
        }

        &__learn-more-close {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 15px;
            top: 15px;
            background: none;
            border: 0;
            border-radius: 50%;
            padding: 0;
            background: $colorWhite;
            width: 28px;
            height: 28px;
            cursor: pointer;

            &:before {
                content: '';
                width: 22px;
                height: 22px;
                background-image: $iconClose;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                pointer-events: none;
            }
        }

        &__question-index-of-total-text {
            font-size: 14px;
            line-height: 18px;
            color: $colorBlue2;
            margin-bottom: 4px;
        }

        &__progress-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2.97%;
            padding: 19px 20px 13px;
            background: $colorWhite;
            margin: 0 -20px;
            overflow-x: auto;

            @media screen and (max-width: $screenM) {
                column-gap: 48px;
                justify-content: flex-start;
            }

            &-wrapper {
                width: 100%;
            }

            &-item {
                font-size: 16px;
                line-height: 20px;
                color: $colorGray1;
                opacity: 0.75;
                white-space: nowrap;

                &.active {
                    color: $colorBlue2;
                    opacity: 1;
                    font-weight: $fontWeightSemiBold;
                }
            }
        }

        &__progress-line {
            position: absolute;
            height: 100%;
            background: $colorBlue3;
            transition: width .5s ease;

            &-wrapper {
                position: relative;
                height: 7px;
                background: $colorBlue5;
                margin: 0 -20px;
            }
        }

        &__warranty {
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            &-holder {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 7.05%;
                background: $colorBlue2;
                padding: 16px;
                width: 100%;

                @media screen and (max-width: $screenM) {
                    overflow-x: auto;
                    justify-content: flex-start;
                }
            }

            &-button {
                display: none;
                align-items: center;
                justify-content: center;
                border: 0;
                border-radius: 0;
                background: $colorBlue2;
                min-width: 70px;
                color: $colorWhite;
                padding: 5px;
                font-size: 0;
                outline: none;

                @media screen and (max-width: $screenM) {
                    display: flex;
                }

                &:before {
                    content: '';
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 6px;
                    height: 13px;
                }

                &.prev {
                    &:before {
                        background-image: $iconArrowPrev;
                    }
                }

                &.next {
                    &:before {
                        background-image: $iconArrowNext;
                    }
                }
            }

            &-item {
                display: flex;
                align-items: center;
                column-gap: 16px;

                @media screen and (max-width: $screenM) {
                    display: none;

                    &.active {
                        display: flex;
                    }

                    min-width: 100%;
                }

                img {
                    display: block;
                }
            }

            &-text {
                color: $colorWhite;
                font-weight: $fontWeightSemiBold;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
            }
        }

        &__solution {
            max-width: 1243px;
            margin: 0 auto;

            img {
                display: block;
            }

            &-wrapper {
                background: $colorBlue1;
                padding: 60px 20px;

                @media screen and (max-width: $screenM) {
                    padding: 40px 20px 32px;
                }
            }

            &-main {
                display: flex;
                align-items: center;
                row-gap: 40px;
                column-gap: 80px;

                @media screen and (max-width: $screenM) {
                    flex-wrap: wrap;
                }
            }

            &-column {
                width: 50%;

                @media screen and (max-width: $screenM) {
                    width: 100%;
                }

                &.text {
                    text-align: left;
                    max-width: 478px;

                    @media screen and (max-width: $screenM) {
                        text-align: center;
                        max-width: 100%;
                    }
                }

                &.image {
                    position: relative;

                    a {
                        position: absolute;
                        left: 13px;
                        top: 13px;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        background: $colorBlue2;
                        border-radius: 16px;
                        padding: 9.5px 18px 5.5px;
                        text-decoration: none;
                        color: $colorWhite;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        min-width: 430px;

                        @media screen and (max-width: $screenM) {
                            min-width: 100%;
                        }
                    }
                }
            }

            &-sub-heading {
                font-weight: $fontWeightSemiBold;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $colorBlue2;
                margin-bottom: 7px;
            }

            &-heading {
                font-family: $fontFamilySecondary;
                font-weight: $fontWeightBold;
                font-size: 35px;
                line-height: 30px;
                margin-bottom: 24px;
                color: $colorBlue2;

                @media screen and (max-width: $screenM) {
                    font-size: 30px;
                }
            }

            &-text {
                color: $colorGray1;
                font-size: 16px;
                line-height: 20px;

                p {
                    margin: 0 0 15px;
                }

                p:last-child {
                    margin: 0;
                }
            }

            &-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 298px;
                padding: 15px;
                column-gap: 8px;
                border: 1px solid $colorBlue2;
                border-radius: 4px;
                text-decoration: none;

                @media screen and (max-width: $screenM) {
                    width: 100%;
                    max-width: 355px;
                }

                &s {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    column-gap: 17px;
                    row-gap: 17px;
                    margin-top: 40px;

                    @media screen and (max-width: $screenM) {
                        margin-top: 24px;
                    }
                }

                &-text {
                    font-weight: $fontWeightSemiBold;
                    font-size: 15px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: $colorBlue2;
                    margin-top: 5px;
                }
            }
        }

        &__why-is-perfect {
            text-align: center;

            &-title {
                font-family: $fontFamilySecondary;
                font-weight: $fontWeightBold;
                font-size: 28px;
                line-height: 30px;
                color: $colorBlue2;
                margin: 0 auto 40px;

                @media screen and (max-width: $screenM) {
                    font-size: 22px;
                    line-height: 26px;
                    margin: 0 auto 20px;
                    max-width: 201px;
                }
            }

            &-wrapper {
                background: $colorWhite;
                padding: 60px 20px;
                border-bottom: 1px solid $colorBlue4;

                @media screen and (max-width: $screenM) {
                    padding: 40px 20px 20px;
                    border-bottom: 0;
                }
            }

            &-holder {
                max-width: 1243px;
                margin: 0 auto;
            }

            &-item {
                width: 100%;
                max-width: 246px;

                &s {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    column-gap: 60px;
                    row-gap: 32px;
                    margin-bottom: 40px;
                }

                &-title {
                    font-weight: $fontWeightSemiBold;
                    font-size: 16px;
                    line-height: 18px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $colorBlue2;
                    margin-bottom: 12px;
                }

                &-text {
                    font-size: 16px;
                    line-height: 20px;
                    color: $colorGray1;
                }
            }
        }

        &__email-results-button {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 6.5px;
            padding: 14px 15px 12px;
            border: 1px solid $colorBlue2;
            border-radius: 4px;
            margin: 0 auto;
            background: $colorWhite;
            width: 100%;
            max-width: 300px;
            min-height: 52px;
            cursor: pointer;

            @media screen and (max-width: $screenM) {
                max-width: 335px;
            }

            &-text {
                font-weight: $fontWeightSemiBold;
                font-size: 15px;
                line-height: 18px;
                text-transform: uppercase;
                color: $colorBlue2;
                margin-top: 5px;
            }

            &-icon {
                width: 22px;
                height: 22px;
                background-image: $iconEmail;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                font-size: 0;
            }
        }

        &__upgrades {
            display: flex;
            justify-content: center;
            column-gap: 80px;

            &-wrapper {
                background: $colorWhite;
                border-bottom: 1px solid $colorBlue4;
                padding: 60px 20px;

                @media screen and (max-width: $screenM) {
                    padding: 20px;
                    border-bottom: 0;
                }
            }

            &-item {
                width: 371px;

                @media screen and (max-width: $screenM) {
                    width: 100%;
                    max-width: 335px;
                }

                &s {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    column-gap: 80px;
                    row-gap: 40px;
                }

                &-card {
                    display: flex;
                    align-items: stretch;
                    column-gap: 15px;
                    border: 1px solid $colorBlue4;
                    padding: 10px 12px 10px 10px;
                    width: 100%;
                    text-align: left;

                    &-image {
                        img {
                            display: block;
                        }
                    }

                    &-content {
                        display: flex;
                        flex-direction: column;
                        padding-top: 7px;
                    }

                    &-content-title {
                        font-weight: $fontWeightSemiBold;
                        font-size: 18px;
                        line-height: 22px;
                        color: $colorBlue2;
                        padding-bottom: 6px;
                        border-bottom: 1px solid $colorBlue4;
                        margin-bottom: 10px;
                        width: 100%;
                    }

                    &-content-text {
                        font-size: 16px;
                        line-height: 20px;
                        color: $colorGray1;
                        margin-bottom: 10px;

                        @media screen and (max-width: $screenM) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }

                    &-content-link {
                        width: 100%;
                        margin-top: auto;
                        border: 1px solid $colorBlue2;
                        border-radius: 4px;
                        padding: 14px 10px 8px;
                        font-weight: $fontWeightSemiBold;
                        font-size: 15px;
                        line-height: 18px;
                        text-align: center;
                        text-transform: uppercase;
                        color: $colorBlue2;
                        text-decoration: none;
                    }
                }

                &-title {
                    text-align: center;
                    font-family: $fontFamilySecondary;
                    font-weight: $fontWeightBold;
                    font-size: 28px;
                    line-height: 30px;
                    color: $colorBlue2;
                    margin-bottom: 32px;

                    @media screen and (max-width: $screenM) {
                        font-size: 22px;
                        line-height: 26px;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        &__sleep-profile {
            max-width: 1243px;
            margin: 0 auto;
            text-align: center;

            &-wrapper {
                background: $colorWhite;
                padding: 60px 20px;
                border-bottom: 1px solid $colorBlue4;

                @media screen and (max-width: $screenM) {
                    font-size: 22px;
                    line-height: 26px;
                    padding: 20px 20px 8px;
                    border: 0;
                }
            }

            &-title {
                font-family: $fontFamilySecondary;
                font-weight: $fontWeightBold;
                font-size: 28px;
                line-height: 30px;
                color: $colorBlue2;
                margin-bottom: 32px;

                @media screen and (max-width: $screenM) {
                    font-size: 22px;
                    line-height: 26px;
                    margin-bottom: 0;
                }
            }

            &-item {
                width: calc(100% / #{$sleepProfileItemsCount});


                @media screen and (max-width: $screenM) {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    position: relative;

                    &:first-child:before {
                        display: none;
                    }

                    &:last-child:after {
                        display: none;
                    }
                }

                &:before,
                &:after {
                    @media screen and (max-width: $screenM) {
                        content: '';
                        position: absolute;
                        z-index: 0;
                        left: 14px;
                        width: 1px;
                        background: $colorBlue4;
                    }
                }

                &:before {
                    @media screen and (max-width: $screenM) {
                        top: 0;
                        bottom: 50%;
                    }
                }

                &:after {
                    @media screen and (max-width: $screenM) {
                        top: 50%;
                        bottom: 0;
                    }
                }

                &:first-child {
                    .quiz-widget__sleep-profile-item-number:before {
                        opacity: 0;
                    }
                }

                &:last-child {
                    .quiz-widget__sleep-profile-item-number:after {
                        opacity: 0;
                    }
                }

                &s {
                    display: flex;
                    justify-content: center;

                    @media screen and (max-width: $screenM) {
                        flex-direction: column;
                        text-align: left;
                    }
                }

                &-text {
                    padding: 0 5.65%;

                    @media screen and (max-width: $screenM) {
                        padding: 20px 10px 12px 15px;
                    }
                }

                &-number {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    @media screen and (max-width: $screenM) {
                        position: relative;
                        z-index: 1;
                        margin-bottom: 0;
                    }

                    &:before,
                    &:after {
                        display: block;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: $colorBlue4;

                        @media screen and (max-width: $screenM) {
                            display: none;
                        }
                    }
                }

                &-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 28px;
                    min-width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    border: 1px solid $colorBlue2;
                    padding-top: 4px;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.3px;
                    color: $colorBlue2;
                    background: $colorWhite;
                    position: relative;
                }

                &-question {
                    font-size: 14px;
                    line-height: 16px;
                    color: $colorGray1;
                    margin-bottom: 6px;

                    @media screen and (max-width: $screenM) {
                        margin-bottom: 4px;
                    }
                }

                &-answer {
                    font-weight: $fontWeightSemiBold;
                    font-size: 14px;
                    line-height: 15px;
                    color: $colorBlue2;
                }
            }
        }
    }
}

//Questions

#quiz-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $colorWhite;
    width: 100%;
    height: 100%;
    padding: 40px 10px;
    min-height: 449px;

    .qp_t {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 3px;
        color: $colorBlue2;

        @media screen and (max-width: $screenM) {
            margin-bottom: -3px;
        }
    }

    & > div {
        @media screen and (max-width: $screenM) {
            width: 100%;
        }
    }

    @media screen and (max-width: $screenM) {
        min-height: auto;
        padding: 40px 9.85%;
    }

    .qp_img {
        width: 69px;
        height: 46px;
        background-size: contain;
        margin-bottom: 8px;
        margin-top: 6px;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (max-width: $screenM) {
            width: 42px;
            min-width: 42px;
            height: 42px;
            margin: 0;
        }
    }

    .qp_flex {
        .qp_a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: none;
            border: 1px solid $colorBlue3;
            border-radius: 2px;
            padding: 0 18px;
            width: 135px;
            min-height: 95px;
            transition: background .3s ease;
            cursor: pointer;
            height: 100%;


            @media screen and (max-width: $screenM) {
                width: 100%;
                flex-direction: row;
                padding: 7px 12px;
                justify-content: flex-start;
                min-height: auto;
                column-gap: 12px;
            }

            &[sel='1'],
            &:hover {
                background: $colorBlue4;
            }
        }

        .qp_t {
            input {
                appearance: none;
                -webkit-appearance: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    & ~ .qp_bo #quiz-end {
        display: none;
    }

    .qp_qi {
        display: flex;
        align-items: stretch;
        justify-content: center;
        margin-bottom: 32px;
    }
}

//Leads

#quiz-ntabs {
    padding: 60px 85px 25px;
    background: $colorWhite;

    @media screen and (max-width: $screenM) {
        padding: 30px 20px 15px;
    }

    & > .sel {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8.5px;

        & > div {
            width: 100%;
            padding: 0 8.5px;

            input[type="number"] {
                -moz-appearance: textfield;
                margin-bottom: 10px;

                @media screen and (max-width: $screenM) {
                    margin-bottom: 0;
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="number"] {
                width: 100%;
                height: 40px;
                border: 0;
                border-bottom: 1px solid $colorGray2;
                outline: none;
                font-size: 18px;
                line-height: 20px;
                color: $colorBlue2;
                letter-spacing: 0.37px;
                padding-bottom: 19px;
                border-radius: 0;

                &::placeholder {
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0.37px;
                    color: $colorGray2;
                }
            }

            &:nth-child(2), //First name, Last Name
            &:nth-child(3) {
                width: 50%;

                @media screen and (max-width: $screenM) {
                    width: 100%;
                }
            }

            &[qt="2"] {
                margin-bottom: 30px;

                .qp_q {
                    display: none;
                }
            }
        }
    }

    //Buttons
    & ~ .qp_bo {
        display: flex;
        background: $colorWhite;
        padding: 0 85px 60px;
        column-gap: 16px;

        @media screen and (max-width: $screenM) {
            flex-direction: column;
            column-gap: 0;
            row-gap: 16px;
            padding: 0 20px 30px;
        }

        #quiz-skip,
        #quiz-end {
            width: calc(50% - 8px);
            text-decoration: none;

            @media screen and (max-width: $screenM) {
                width: 100%;
            }

            input {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 10px 10px 5px;
                height: 50px;
                border-radius: 4px;
                outline: none;
                font-size: 15px;
                line-height: 18px;
                text-transform: uppercase;
                border: 1px solid $colorBlue2;
                font-weight: $fontWeightSemiBold;
                cursor: pointer;
                white-space: normal;
            }
        }

        #quiz-skip input {
            background-color: $colorWhite;
            color: $colorBlue2;
        }

        #quiz-end input {
            background-color: $colorBlue2;
            color: $colorWhite;
        }
    }

    .qp_tabbtn,
    .qp_instruct {
        display: none;
    }

    [title="1"] {
        width: 100%;
        pointer-events: none;
    }

    .leads-title {
        font-family: $fontFamilySecondary;
        font-size: 28px;
        line-height: 30px;
        color: $colorBlue2;
        margin-bottom: 12px;
        font-weight: $fontWeightBold;

        @media screen and (max-width: $screenM) {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 16px;
        }
    }

    .leads-description {
        font-size: 16px;
        line-height: 20px;
        color: $colorGray1;
        margin: 0 auto 40px;
        max-width: 527px;

        @media screen and (max-width: $screenM) {
            margin-bottom: 30px;
        }
    }

    //Checkboxes
    [qt="1"] {
        .qp_b {
            display: flex;
            align-items: baseline;
            column-gap: 12px;
            margin-bottom: 15px;
        }

        .qp_qi,
        .qp_qi a {
            font-size: 16px;
            line-height: 20px;
            color: $colorGray1;
            text-align: left;
        }

        .qp_qi a {
            text-decoration: underline;
        }

        .qp_ao {
            order: -1
        }

        input[type="checkbox"] {
            margin: 0;
            cursor: pointer;
            opacity: 0;
        }

        .qp_a {
            .qp_t {
                display: block;
                position: relative;
                width: 16px;
                height: 16px;
                margin: 0;

                &:before {
                    content: '';
                    position: absolute;
                    pointer-events: none;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    border: 1px solid $colorGray3;
                    border-radius: 3px;
                    background-color: $colorWhite;
                }
            }

            &[sel='1'] {
                .qp_t:before {
                    background-color: $colorBlue2;
                    border-color: $colorBlue2;
                    background-image: $iconTick;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}

//Results

#quiz-results {
    margin: 0 -20px;
    background: $colorWhite;

    .qp_a ~ .qp_a,
    .qp_q .qp_qi {
        display: none;
    }

    .qp_a {
        background: none;
    }
}
